<h1>Variable dan tipe data</h1><hr>

Tipe data pada phyton adalah:
<ul>
<ol>
     <li>Float - (float)</li>
     <li>String - (str)</li>
        <li>Boolean - (bool)</li>
        <li>Integer - (int)</li>
        </ol><hr>
    Aturan penambahan variabel:
   <ul>
   <li>Tidak boleh menggunakan Space</li>
   <li>Bersifat sensitif => A != a</li>
   <li>Terdiri dari huruf, angka dan karakter_ </li>
   <li>Diawali dengan underscore atau huruf</li>
   <li>Tidak boleh menggunakan reserved keyword</li>
   
  </ul><hr>

In [31]:
data_integer = 100
data_float = 50,6
data_string = "7"
data_boolean = True
data_data_aku = 700

data_string
print(data_integer)
print(data_string)
print(data_float)
print(data_boolean)
print(data_data_aku)

100
7
(50, 6)
True
700

In [32]:
print(type(data_integer))
print(type(data_float))
print(type(data_string))
print(type(data_boolean))
print(type(data_data_aku))

<class 'int'>
<class 'tuple'>
<class 'str'>
<class 'bool'>
<class 'int'>

<h3>Konversi tipe data dari integer ke (String , Float, Boolean)</h3><h3r>

In [34]:
bill1 = input("Isikeun Bilangan Hiji")
bill2 = input("Isikeun Bilangan Hiji Deui")
hasil = bill1 + bill2
print(hasil)

Isikeun Bilangan Hiji 20
Isikeun Bilangan Hiji Deui 20

2020

<h4>data to integer</h4>

In [72]:
string_to_int = int(data_string)
float_to_int = str(data_float)
bool_to_int = int(data_boolean)

print(string_to_int)
print(float_to_int)
print(bool_to_int)

print(type(string_to_int))
print(type(float_to_int))
print(type(bool_to_int))

7
(50, 6)
1
<class 'int'>
<class 'str'>
<class 'int'>

<h5>Data to Float</h5><h3r>

In [61]:
string_to_float = float(data_string)
integer_to_float = float(data_integer)
boolean_to_float = float(data_boolean)

print(string_to_float)
print(integer_to_float)
print(boolean_to_float)

print(type(string_to_float))
print(type(integer_to_float))
print(type(boolean_to_float))

7.0
100.0
1.0
<class 'float'>
<class 'float'>
<class 'float'>

<h6>data to Bool<h6>

In [60]:
string_to_bool = bool(data_string)
integer_to_bool = bool(data_integer)
float_to_bool = bool(data_float)

print(string_to_bool)
print(integer_to_bool)
print(float_to_bool)

print(type(string_to_bool))
print(type(integer_to_bool))
print(type(float_to_bool))

True
True
True
<class 'bool'>
<class 'bool'>
<class 'bool'>

<h7>data to String</h7>

In [66]:
float_to_string = str(data_float)
integer_to_string = str(data_integer)
boolean_to_string = str(data_boolean)

print(float_to_string)
print(integer_to_string)
print(boolean_to_string)

print(type(float_to_string))
print(type(integer_to_string))
print(type(boolean_to_string))

(50, 6)
100
True
<class 'str'>
<class 'str'>
<class 'str'>